body {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: #0f141e;
    background-color: #f1f1f1;

}

.info {
    margin-bottom: 10px;
    display: flex;
}

.info-text p {
    font-style: italic;
    font-weight:bold;
    color: #8689f8;
    width: 400px;

}

.info p{
    margin-bottom: 20px;
}

.card {
    border: 3px solid rgb(46, 0, 0);
    border-radius: 15px;
    padding-left: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.bg-yellow {
    background-color: #fff9dc;
}

.bg-red {
    background-color: #ffe5e5;
}

.bg-green {
    background-color: #e5ffe7;
}

.photo {
    width: 200px;
    border-radius: 20px;
    border: 3px  solid rgba(140, 117, 152, 0.69);
    margin: 10px;
    box-shadow: 0 0 10px #444;
}

.container {
    max-width: 650px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 30px;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
}
a:hover {
    color: red;
    text-decoration: underline;
    color: sal;
}

.btn {
    background: #8689f8;
    color: black;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    padding: 10px 30px;
}

.btn:hover {
    opacity: 0.5;
}

.nth-child {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nth-child li {
    margin-bottom: 10px;
    border-bottom: 2px solid #0f141e;
}

.table {
    width: 100%;
}

.table td {
    text-align: left;
}

.str {
    font-weight: bold;
}

.form {
    font-family: inherit;
}

.form h2 {
    text-align: center;
}
.form-row {
    margin-bottom: 10px;
    display: flex;
    width: 50%;
}

.form-group label{
    display: block;
    font-size: 15px;
    font-family: inherit;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.71);
    color: gray;
    padding: 10px 0 10px;
    outline: none;
    font-family: inherit
    
}

.foot {
    text-align: center;
}